body {
  background-color: rgb(255, 226, 218);
  color: rgb(42, 42, 42);
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
}
.container {
  max-width: 386.4px;
  background: rgba(226, 77, 77, 0.835);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  font-size: 2em;
  padding: 0.7em;
  text-align: center;
  cursor: default;
  transition: 0.2s;
}

td:hover {
  background-color: rgb(236, 163, 163);
}

input {
  padding: 16px 10px;
  max-width: 100%;
  border: 0;
  font-size: 2em;
  background-color: #333;
  color: #eee;
  text-align: right;
}
.vari {
  background-color: rgb(70, 70, 70);
  color: #eee;
}
.vari:hover {
  background-color: #222;
}
.equalbtn {
  background-color: rgb(102, 101, 100);
}
.equalbtn:hover {
  background-color: rgb(185, 185, 185);
}
